.hamburger-button,
.modal-button,
.pic-button,
.close-button,
{
  border: none;
  background: none;
  outline: none;
  padding: 10px;
  margin-right: 20px;
  width: 40px;
  cursor: pointer;
}


.modal-button,
.pic-button{
  width: 100%;
}
.pic-button{
  margin: 0;
}

.close-button{
  margin-right: 20px;
  width: 40px;
  font-size: 40px;
  color: $main-color;
}
