.footer{
  width: 100%;
  height: 150px;
  background-color: $transparent-secondary-color;
  color: $main-color;
  font-family: $normal-text;
  font-size: $text-small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
