// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;

// ------------ FONTS--------------

$normal-text: 'Open Sans', sans-serif;
$title-text: 'Oswald', sans-serif;

// ----------- FONT SIZE ----------

$extra-large: 30px;
$h1-font: 30px;
$h2-font: 25px;
$font-main: 18px;
$text-small: 10px;

// ----------- COLORS ------------

$main-color: rgb(247, 247, 0);
$light-color: rgb(246, 246, 80);
$secondary-color: rgb(46, 46, 46);
$secondary-light-color: rgb(91, 91, 91);
$transparent-main-color: rgba(247, 247, 0, 0.62);
$transparent-secondary-color: rgba(46, 46, 46, 0.62);
